Source: bunsen-configs-live
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13), config-package-dev (>= 5.1)
Rules-Requires-Root: no
Standards-Version: 4.6.1.0
Homepage: https://github.com/BunsenLabs/bunsen-configs-live
Vcs-Git: https://github.com/BunsenLabs/bunsen-configs-live.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-configs-live

Package: bunsen-configs-live
Architecture: all
Depends: ${misc:Depends}, bunsen-configs, live-config
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Modified config files for a live session of BunsenLabs Linux
 This package changes the configuration of a BunsenLabs live session.
 It should not be installed in a normal system.

Package: bunsen-configs-live-lite
Architecture: all
Depends: ${misc:Depends}, bunsen-configs-lite, live-config
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Modified config files for a live session of BunsenLabs Linux
 This package changes the configuration of a BunsenLabs live session of
 the i386 lite iso.
 It should not be installed in a normal system.

Package: bunsen-configs-live-cd
Architecture: all
Depends: ${misc:Depends}, bunsen-configs-lite, live-config
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Modified config files for a live session of BunsenLabs Linux
 This package changes the configuration of a BunsenLabs live session of
 the CD-sized iso.
 It should not be installed in a normal system.
